:root {
    --earth-color: #8D8741;
    --light-earth-color: #a1961a;
    --sea-color: #659DBD;
    --light-sea-color: #659DBD;
    --dark-sea-color: #486591;
    --danger-color: #FF5B00;
    --safe-color: #CCFFFF;
    --steel-color: #A8B0B2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--steel-color);
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-earth-color);
    height: max(10vh, 75px);
}

main {
    background-color: var(--dark-sea-color);
    height: max(80vh, 600px);
}

.board {
    height: 50rem;
    width: 50rem;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    border: 1px solid black;
}

.place-ship-container {
    height: 100%;
    display: grid;
    align-content: space-around;
    /* justify-content: center; */
    justify-items: center;
}

.danger {
    background-color: var(--danger-color);
}

.safe {
    background-color: var(--sea-color);
}
/* footer {
    height: max(10vh, 75px);
} */